In [2]:
import requests
import bs4
import pandas as pd
from time import perf_counter
from math import floor

In [1]:
year = 2018
url = 'https://www.baseball-reference.com/leagues/MLB/' + str(year) + '-team-starting-lineups.shtml'

In [3]:
res = requests.get(url)
soup=bs4.BeautifulSoup(res.text, 'html.parser')

In [41]:
tbody = soup.find('tbody')
table = soup.find('table')

In [16]:
len(tbody('tr'))

30

In [43]:
table('tr')[1]

<tr><th class="right" data-stat="ranker" scope="row">1</th><td class="left" csk="22.22" data-stat="team_ID"><a href="/teams/ARI/2018.shtml">ARI</a> (82-80, 22.22 oWAR)</td><td class="right poptip" csk="-0.33" data-stat="c" data-tip="J.Murphy (68 gm)&lt;br&gt;J.Mathis (63 gm)&lt;br&gt;A.Avila (61 gm)&lt;br&gt;C.Stewart (3 gm)"><a href="/players/m/murphjr01.shtml">J.Murphy</a> (-0.33)</td><td class="right poptip" csk="6.18" data-stat="1b" data-tip="P.Goldschmidt (155 gm)&lt;br&gt;D.Descalso (11 gm)&lt;br&gt;C.Walker (7 gm)&lt;br&gt;A.Avila (3 gm)"><a href="/players/g/goldspa01.shtml">P.Goldschmidt</a> (6.18)</td><td class="right poptip" csk="4.00" data-stat="2b" data-tip="K.Marte (131 gm)&lt;br&gt;D.Descalso (52 gm)&lt;br&gt;C.Owings (9 gm)&lt;br&gt;D.Marrero (5 gm)&lt;br&gt;I.Vargas (2 gm)&lt;br&gt;J.Mathis (1 gm)"><a href="/players/m/marteke01.shtml">K.Marte</a> (4.00)</td><td class="right poptip" csk="0.73" data-stat="3b" data-tip="E.Escobar (54 gm)&lt;br&gt;J.Lamb (52 gm)&lt;br&gt;D.Descalso (37 gm)&lt;br&gt;D.Marrero (33 gm)&lt;br&gt;C.Owings (15 gm)&lt;br&gt;I.Vargas (3 gm)"><a href="/players/e/escobed01.shtml">E.Escobar</a> (0.73)</td><td class="right poptip" csk="4.39" data-stat="ss" data-tip="N.Ahmed (148 gm)&lt;br&gt;K.Marte (28 gm)&lt;br&gt;I.Vargas (1 gm)"><a href="/players/a/ahmedni01.shtml">N.Ahmed</a> (4.39)</td><td class="right poptip" csk="3.70" data-stat="lf" data-tip="D.Peralta (138 gm)&lt;br&gt;J.Jay (14 gm)&lt;br&gt;J.Dyson (6 gm)&lt;br&gt;D.Descalso (5 gm)&lt;br&gt;P.Kivlehan (4 gm)&lt;br&gt;S.Brito (3 gm)&lt;br&gt;C.Owings (3 gm)&lt;br&gt;C.Walker (1 gm)"><a href="/players/p/peralda01.shtml">D.Peralta</a> (3.70)</td><td class="right poptip" csk="2.44" data-stat="cf" data-tip="A.Pollock (109 gm)&lt;br&gt;J.Dyson (41 gm)&lt;br&gt;C.Owings (16 gm)&lt;br&gt;J.Jay (10 gm)&lt;br&gt;S.Brito (1 gm)&lt;br&gt;S.Souza (1 gm)"><a href="/players/p/polloaj01.shtml">A.Pollock</a> (2.44)</td><td class="right poptip" csk="-0.38" data-stat="rf" data-tip="S.Souza (65 gm)&lt;br&gt;J.Jay (45 gm)&lt;br&gt;C.Owings (43 gm)&lt;br&gt;J.Dyson (18 gm)&lt;br&gt;S.Brito (11 gm)&lt;br&gt;D.Peralta (5 gm)&lt;br&gt;K.Negron (1 gm)"><a href="/players/s/souzast01.shtml">S.Souza</a> (-0.38)</td><td class="right poptip" csk="0.86" data-stat="dh" data-tip="D.Descalso (7 gm)&lt;br&gt;P.Goldschmidt (2 gm)&lt;br&gt;J.Murphy (1 gm)&lt;br&gt;C.Walker (1 gm)"><a href="/players/d/descada01.shtml">D.Descalso</a> (0.86)</td></tr>

In [40]:
TEAM = []
NAME = []
NAMEKEY = []
POSITION = []

In [54]:
cols = ['C', '1B', '2B', '3B', 'SS','LF','CF','RF','DH']

In [58]:
dataDict = {}
dataDict['team'] = []
dataDict['year'] = []
dataDict['name'] = []
dataDict['nameKey'] = []
dataDict['pos'] = []


for tr in tbody('tr'):
    for a, t in zip(tr.find_all('a')[1:], cols):
        dataDict['team'].append(tr.find('a').text)
        dataDict['year'].append(year)
        dataDict['name'].append(a.text)
        dataDict['nameKey'].append(a['href'][11:-6])
        dataDict['pos'].append(t)
        #print(tr.find('a').text, a.text, a['href'][11:-6], t)
        
    print(year, tr.find('a').text, 'done')
    
columns = ['team','year', 'name', 'nameKey', 'pos']  
df = pd.DataFrame(dataDict, columns = columns)
df

2018 ARI done
2018 ATL done
2018 BAL done
2018 BOS done
2018 CHC done
2018 CHW done
2018 CIN done
2018 CLE done
2018 COL done
2018 DET done
2018 HOU done
2018 KCR done
2018 LAA done
2018 LAD done
2018 MIA done
2018 MIL done
2018 MIN done
2018 NYM done
2018 NYY done
2018 OAK done
2018 PHI done
2018 PIT done
2018 SDP done
2018 SEA done
2018 SFG done
2018 STL done
2018 TBR done
2018 TEX done
2018 TOR done
2018 WSN done

    team  year           name    nameKey pos
0    ARI  2018       J.Murphy  murphjr01   C
1    ARI  2018  P.Goldschmidt  goldspa01  1B
2    ARI  2018        K.Marte  marteke01  2B
3    ARI  2018      E.Escobar  escobed01  3B
4    ARI  2018        N.Ahmed  ahmedni01  SS
..   ...   ...            ...        ...  ..
265  WSN  2018       T.Turner  turnetr01  SS
266  WSN  2018         J.Soto   sotoju01  LF
267  WSN  2018       M.Taylor  taylomi02  CF
268  WSN  2018       B.Harper  harpebr03  RF
269  WSN  2018        M.Adams  adamsma01  DH

[270 rows x 5 columns]

In [44]:
tbody('tr')[0].find_all('a')[0].text

'ARI'