In [1]:
import pandas as pd
import sqlite3

In [52]:
df = pd.read_csv('meta.csv')
df.columns

Index(['NAME', 'NAME_KEY', 'YEAR', 'TEAM', 'BATS', 'THROWS', 'HEIGHT',
       'HEIGHT_CM', 'WEIGHT_LB', 'WEIGHT_KG', 'BIRTHDATE', 'BIRTHPLACE'],
      dtype='object')

In [13]:
df = pd.read_csv('meta.csv')
df = df[['NAME_KEY','NAME', 'BATS', 'THROWS', 'HEIGHT','HEIGHT_CM', 'WEIGHT_LB', 'WEIGHT_KG', 'BIRTHDATE', 'BIRTHPLACE']]
df = df.drop_duplicates('NAME_KEY')
df.shape

(5625, 10)

In [10]:
df.columns

Index(['NAME', 'NAME_KEY', 'BATS', 'THROWS', 'HEIGHT', 'HEIGHT_CM',
       'WEIGHT_LB', 'WEIGHT_KG', 'BIRTHDATE', 'BIRTHPLACE'],
      dtype='object')

In [21]:
conn = sqlite3.connect('baseball_reference.sqlite')
cur = conn.cursor()

cur.execute("""DROP TABLE IF EXISTS Meta""")

cur.execute(""" CREATE TABLE Meta ( NAME TEXT,
                                    NAME_KEY TEXT, 
                                    BATS TEXT, THROWS TEXT,
                                    HEIGHT TEXT, HEIGHT_CM DECIMAL(5,2),
                                    WEIGHT_LB INTEGER, WEIGHT_KG DECIMAL(5,2),
                                    BIRTHDATE DATE, BIRTHPLACE TEXT)""")

In [22]:
df.to_sql('Meta', con=conn, if_exists='append', index=False)

In [51]:
df = pd.read_csv('free_agents.csv')
df.columns

Index(['NAME', 'NAME_KEY', 'YEAR', 'ARRIVAL_DT', 'ARRIVAL_METHOD',
       'WAS_DRAFTED', 'DRAFT_ROUND', 'SIGNED_DT', 'BIRTHDATE',
       'AGE_WHEN_SIGNED', 'FREE_AGENT_DT', 'IS_FREE_AGENT_NOW',
       'SEASON_START_DT', 'PLAYER_URL'],
      dtype='object')

In [29]:
df = pd.read_csv('free_agents.csv')
df.columns
df = df[['NAME_KEY', 'NAME', 'YEAR', 'ARRIVAL_DT', 'ARRIVAL_METHOD',
       'WAS_DRAFTED', 'DRAFT_ROUND', 'SIGNED_DT',
       'AGE_WHEN_SIGNED', 'FREE_AGENT_DT', 'IS_FREE_AGENT_NOW',
       'SEASON_START_DT', 'PLAYER_URL']]

In [30]:
df.head()

,NAME_KEY,NAME,YEAR,ARRIVAL_DT,ARRIVAL_METHOD,WAS_DRAFTED,DRAFT_ROUND,SIGNED_DT,AGE_WHEN_SIGNED,FREE_AGENT_DT,IS_FREE_AGENT_NOW,SEASON_START_DT,PLAYER_URL
0,molinbe01,Bengie Molina,2000,1993-05-23,Signed,no,not drafted,1993-05-23,18,1993-05-23,yes,2000-03-29,https://www.baseball-reference.com/players/m/m...
1,vaughmo01,Mo Vaughn,2000,1989-06-05,Drafted,yes,1st round,1989-06-20,21,1998-10-23,yes,2000-03-29,https://www.baseball-reference.com/players/v/v...
2,kennead01,Adam Kennedy,2000,1997-06-03,Drafted,yes,1st round,1997-06-18,21,2006-10-15,no,2000-03-29,https://www.baseball-reference.com/players/k/k...
3,gilbe01,Benji Gil,2000,1991-06-03,Drafted,yes,1st round,1991-07-19,18,1999-10-15,yes,2000-03-29,https://www.baseball-reference.com/players/g/g...
4,glaustr01,Troy Glaus,2000,1997-06-03,Drafted,yes,1st round,1997-09-29,21,2004-10-28,no,2000-03-29,https://www.baseball-reference.com/players/g/g...

In [31]:
df.dtypes

NAME_KEY             object
NAME                 object
YEAR                  int64
ARRIVAL_DT           object
ARRIVAL_METHOD       object
WAS_DRAFTED          object
DRAFT_ROUND          object
SIGNED_DT            object
AGE_WHEN_SIGNED       int64
FREE_AGENT_DT        object
IS_FREE_AGENT_NOW    object
SEASON_START_DT      object
PLAYER_URL           object
dtype: object

In [35]:
conn = sqlite3.connect('baseball_reference.sqlite')
cur = conn.cursor()

cur.execute("""DROP TABLE IF EXISTS Free_agents""")

cur.execute(""" CREATE TABLE Free_agents ( NAME_KEY TEXT,
                                    NAME TEXT, YEAR INTEGER, ARRIVAL_DT DATE,
                                    ARRIVAL_METHOD TEXT, WAS_DRAFTED TEXT, DRAFT_ROUND TEXT,
                                    SIGNED_DT DATE, AGE_WHEN_SIGNED INTEGER, FREE_AGENT_DT DATE,
                                    IS_FREE_AGENT_NOW TEXT, SEASON_START_DT DATE, PLAYER_URL TEXT )""")

In [36]:
df.to_sql('Free_agents', con=conn, if_exists='append', index=False)

In [37]:
df = pd.read_csv('player_value_batting.csv')
df.columns

Index(['NAME', 'NAME_KEY', 'TM', 'LEAGUE', 'YEAR', 'G', 'PA', 'RBAT', 'RBASER',
       'RDP', 'RFIELD', 'RPOS', 'RAA', 'WAA', 'RREP', 'RAR', 'WAR', 'WAAWL%',
       '162WL%', 'OWAR', 'DWAR', 'ORAR', 'SALARY', 'ACQUIRED'],
      dtype='object')

In [38]:
df.head()

,NAME,NAME_KEY,TM,LEAGUE,YEAR,G,PA,RBAT,RBASER,RDP,...,RREP,RAR,WAR,WAAWL%,162WL%,OWAR,DWAR,ORAR,SALARY,ACQUIRED
0,Jeff Abbott,abbotje01,CHW,AL,2000,80,242.0,-7,1,1,...,9.0,-3.0,-0.3,0.486,0.493,0.3,-0.6,2.0,255000.0,Amateur Draft
1,Paul Abbott,abbotpa01,SEA,AL,2000,2,6.0,0,0,0,...,0.0,1.0,0.1,0.554,0.501,0.1,0.0,1.0,285000.0,Free Agency
2,Israel Alcantara,alcanis01,BOS,AL,2000,21,48.0,2,1,0,...,2.0,3.0,0.3,0.505,0.501,0.3,-0.2,3.0,200000.0,Free Agency
3,Manny Alexander,alexama02,BOS,AL,2000,101,209.0,-18,1,1,...,8.0,-8.0,-0.7,0.485,0.491,-0.6,0.1,-6.0,612500.0,Traded
4,Luis Alicea,alicelu01,TEX,AL,2000,139,619.0,-4,1,-1,...,23.0,11.0,1.1,0.492,0.493,2.1,-0.6,21.0,750000.0,Free Agency

In [44]:
df = df.rename(columns={"WAAWL%": "pct_WAAWL", "162WL%": "pct_162WL"})
df.dtypes

NAME          object
NAME_KEY      object
TM            object
LEAGUE        object
YEAR           int64
G              int64
PA           float64
RBAT           int64
RBASER         int64
RDP            int64
RFIELD         int64
RPOS         float64
RAA          float64
WAA          float64
RREP         float64
RAR          float64
WAR          float64
pct_WAAWL    float64
pct_162WL    float64
OWAR         float64
DWAR         float64
ORAR         float64
SALARY       float64
ACQUIRED      object
dtype: object

In [49]:
conn = sqlite3.connect('baseball_reference.sqlite')
cur = conn.cursor()

cur.execute("""DROP TABLE IF EXISTS player_value_batting""")

cur.execute(""" CREATE TABLE player_value_batting ( NAME TEXT, NAME_KEY TEXT, 
                                                     TM TEXT, LEAGUE TEXT, YEAR INTEGER,
                                                     G INTEGER, PA DECIMAL(6,2), RBAT INTEGER,
                                                     RBASER INTEGER, RDP INTEGER, RFIELD INTEGER,
                                                     RPOS DECIMAL(6,3), RAA DECIMAL(6,3), WAA DECIMAL(6,3),
                                                     RREP DECIMAL(6,3), RAR DECIMAL(6,3), WAR DECIMAL(6,3),
                                                     pct_WAAWL DECIMAL(6,3), pct_162WL DECIMAL(6,3), OWAR DECIMAL(6,3),
                                                     DWAR DECIMAL(6,3), ORAR DECIMAL(6,3), SALARY DECIMAL(15,2) , ACQUIRED TEXT)""")

In [50]:
df.to_sql('player_value_batting', con=conn, if_exists='append', index=False)