In [1]:
import requests
import bs4
import pandas as pd
import datetime as dt
from time import perf_counter
from math import floor

In [71]:
df = pd.read_csv('list_of_players.csv')
df = df.drop_duplicates()
df = df[df['NAME_KEY'] == 'molinbe01']
#df[(df['NAME_KEY'].str.contains('\\.')) | (df['NAME_KEY'].str.contains("'"))]
#df = df.sample(20)

In [72]:
YEAR = []
TEAM = []
SALARY = []
ALL_STAR = []
WORLD_SERIES = []


for name,key in zip(df.NAME,df.NAME_KEY):

    player_key = key
    
    url = 'https://www.baseball-almanac.com/players/player.php?p=' + player_key

    res = requests.get(url)
    soup=bs4.BeautifulSoup(res.text, 'html.parser')

    tables = soup('table')
    teams_soup = tables[-9].find_all('td', class_="datacol")
    salaries_soup = tables[-9].find_all('td', class_="datacolR")
    uniform_num_soup = tables[-9].find_all('td', class_="datacolC")[0::3]
    all_star_soup = tables[-9].find_all('td', class_="datacolC")[1::3]
    world_series = tables[-9].find_all('td', class_="datacolC")[2::3]
    
    print('----------' + str(name) + '---------------\n')
    for t,s,u,a,w in zip(teams_soup, salaries_soup, uniform_num_soup, all_star_soup, world_series):
        print('Year:',t.text.split()[0])
        print('Team:', ' '.join(t.text.split()[1:]))
        print('Uniform #:', u.text)
        print('Salary:', s.text.replace('$','').replace(',','').replace('.00',''))
        
        if a.text == 'Stats':
            all_star = 'yes'
        else:
            all_star = 'no'
        print('All-Star game:', all_star)
        
        if w.text == 'Stats':
            world_series = 'yes'
        else:
            world_series = 'no'
        print('World Series:', world_series)
    print('-------------------------------------------\n')

----------Bengie Molina---------------

-------------------------------------------

In [52]:
tables[-9]

<table class="boxed" width="100%">
<tr>
<td class="header" colspan="5" nowrap="">Donzell McDonald<p>Donzell McDonald Miscellaneous Items of Interest</p></td>
</tr>
<tr>
<td class="banner" nowrap="">Team [Click for Roster]</td>
<td class="banner" nowrap="">Uniform Numbers</td>
<td class="banner" nowrap="">Salary</td>
<td class="banner" nowrap="">All-Star</td>
<td class="banner" nowrap="">World Series</td>
</tr>
<tr>
<td class="datacol" nowrap=""><a href="../teamstats/roster.php?y=2001&amp;t=NYA" title="Show Team Base Running Stats">2001 New York Yankees</a></td>
<td class="datacolC" nowrap=""><a href="/teams/baseball_uniform_numbers.php?t=NYA#uni-59">59</a></td>
<td class="datacolR" nowrap="">$200,000.00</td>
<td class="datacolC" nowrap="">-</td>
<td class="datacolC" nowrap="">-</td>
</tr>
<tr>
<td class="datacol" nowrap=""><a href="../teamstats/roster.php?y=2002&amp;t=KCA" title="Show Team Base Running Stats">2002 Kansas City Royals</a></td>
<td class="datacolC" nowrap=""><a href="/teams/baseball_uniform_numbers.php?t=KCA#uni-19">19</a></td>
<td class="datacolR" nowrap="">$200,000.00</td>
<td class="datacolC" nowrap="">-</td>
<td class="datacolC" nowrap="">-</td>
</tr>
<tr>
<td class="banner" colspan="5" nowrap="">Donzell McDonald Stats by Baseball Almanac</td>
</tr>
</table>

In [59]:
'1234A'.isalnum()

True