In [1]:
import bs4
import pandas as pd
import requests
import sqlite3
import time

In [2]:
try:
    con = sqlite3.connect('/Users/qlanners/projects/mlb_salary_comp_db/mlb_salary_comp.db')
except:
    print('Error connecting to db.')
    exit()

In [5]:
# bbr meta
meta = pd.read_csv('bbr/data/meta.csv')
meta.to_sql('meta', con, index=False)

In [8]:
# bbe free_agents
fa = pd.read_csv('bbr/data/free_agents.csv')
fa.to_sql('free_agents', con, index=False)

In [11]:
# bbr player_value_batting
pv_batting = pd.read_csv('bbr/data/player_value_batting.csv')
pv_batting.to_sql('pv_batting', con, index=False)

In [13]:
# bbr player_value_batting
pv_pitching = pd.read_csv('bbr/data/player_value_pitching.csv')
pv_pitching.to_sql('pv_pitching', con, index=False)

In [15]:
# baseball almanac salaries
bba_salaries = pd.read_csv('baseball_almanac/data/salaries.csv')
bba_salaries.to_sql('bba_salaries', con, index=False)

In [18]:
# spotrac injuries
spotrac_injuries = pd.read_csv('spotrac/data/salary_spotrac.csv')
spotrac_injuries.head()

,YEAR,TEAM,PLAYER,INJURED,AGE,POS,STATUS,BASE_SALARY,PAYROLL_SALARY,ADJ_SALARY,LUX_TAX_SALARY,PLAYER_URL,TEAM_URL
0,2000,New York Yankees,Derek Jeter,0,26,SS,Arb 1,10000000,10000000,10000000,0,https://www.spotrac.com/redirect/player/586/,https://www.spotrac.com/redirect/team/34/payro...
1,2000,New York Yankees,Roger Clemens,0,37,SP,Pre-Arb,8100000,8100000,8100000,0,https://www.spotrac.com/redirect/player/13820/,https://www.spotrac.com/redirect/team/34/payro...
2,2000,New York Yankees,Mariano Rivera,0,30,RP,Arb 1,7250000,7250000,7250000,0,https://www.spotrac.com/redirect/player/596/,https://www.spotrac.com/redirect/team/34/payro...
3,2000,New York Yankees,Andy Pettitte,0,28,SP,Vet,6000000,7000000,7000000,0,https://www.spotrac.com/redirect/player/594/,https://www.spotrac.com/redirect/team/34/payro...
4,2000,New York Yankees,Alfonso Soriano,0,24,DH,Pre-Arb,630000,630000,630000,0,https://www.spotrac.com/redirect/player/160/,https://www.spotrac.com/redirect/team/34/payro...