In [18]:
import pandas as pd
import os

In [19]:
cwd = os.getcwd().replace('\\', '/')
cwd

'C:/Users/jfran/Dropbox/GitHub/Baseball/mlb_salary_comp/scraping/JF/Player Pitching Value'

In [20]:
columns = ['Rk','Name','Age','Tm','IP','G','GS',\
           'R','RA9','RA9opp','RA9def','RA9role','PPFp',\
           'RA9avg','RAA','WAA','gmLI','WAAadj','WAR','RAR',\
           'waaWL%','162WL%','Salary','Acquired']

In [36]:
columns = ['Rk','Name','Age','Tm','IP','G','GS',\
           'R','RA9','RA9opp','RA9def','RA9role','PPFp',\
           'RA9avg','RAA','WAA','gmLI','WAAadj','WAR','RAR',\
           'waaWL%','162WL%','Salary','Acquired','League', 'Year']

df = pd.DataFrame(columns=columns)


for year in range(2000,2020):
        for league in ('AL','NL'):
            df_add = pd.read_csv(cwd + '/' + league + "/" + league + '_' + str(year) + '_value_pitching.csv')
            df_add['League'] = league
            df_add['Year'] = year
            df = pd.concat([df, df_add ], axis=0)
            

new = df['Name'].str.split('\\', n =1 , expand = True)


new[0] = new[0].str.replace('*','') 
df["name"]= new[0].str.replace('#','') 
  
df["name_key"] = new[1]

df["Salary"] = df["Salary"].str.replace('$','')

columns = ['name','name_key'] + columns[3:4] + ['League', 'Year'] + columns[4:-2]


df = df[columns]
df.head()

COLUMNS = []

for col in columns:
    COLUMNS.append(col.upper().replace(' ','_'))

df.columns = COLUMNS

destination = cwd.replace('Player Pitching Value','')
df.to_csv(destination + 'player_value_pitching.csv', index=False)

In [26]:
df.columns

Index(['NAME', 'NAME_KEY', 'TM', 'LEAGUE', 'YEAR', 'IP', 'G', 'GS', 'R', 'RA9',
       'RA9OPP', 'RA9DEF', 'RA9ROLE', 'PPFP', 'RA9AVG', 'RAA', 'WAA', 'GMLI',
       'WAAADJ', 'WAR', 'RAR', 'WAAWL%', '162WL%', 'SALARY', 'ACQUIRED'],
      dtype='object')

In [17]:
df.shape

(14112, 23)

In [35]:
df['NAME'][3].str.replace('\*','')

3          Clayton Andrews
3             Scott Aldred
3           Rolando Arrojo
3           Kurt Ainsworth
3             Juan Alvarez
3        Antonio Alfonseca
3           Jeremy Affeldt
3        Antonio Alfonseca
3           Jeremy Affeldt
3               Mike Adams
3              Abe Alvarez
3              Terry Adams
3        Antonio Alfonseca
3               Jon Adkins
3               Danys Baez
3           Jeremy Affeldt
3            Nick Adenhart
3           Jeremy Affeldt
3           Alfredo Aceves
3            Alberto Arias
3      Jonathan Albaladejo
3           Jeremy Affeldt
3            Nathan Adcock
3               Mike Adams
3               Mike Adams
3      Jonathan Albaladejo
3          Al Alburquerque
3           Jeremy Affeldt
3             Austin Adams
3    Henderson Alvarez III
3            Andrew Albers
3            Dario Alvarez
3            Andrew Albers
3           Brett Anderson
3           Raul Alcantara
3          Sandy Alcantara
3               Cody Allen
3          Scott Alexander
3             Austin Adams
3              R.J. Alaniz
Name: NAME, dtype: object

In [ ]:
*